/* Set the background color of the page */

:root{
  --P1: #273377;
  --P2: #3949ab;
  --P3: #606dbb;
  --S1: #7A7A7A;
  --S2: #999;
  --S3: #eee;
}

body, html {
  margin: 0;
  height: 100vh;
  
}

main{
  height: 100%;
}
.main-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-menu{
  width: 80px;
  background-color: var(--S2);
  color: var(--S1);
  padding: 12px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.menu-button{
  border-radius: 100%;
  border: none;
  fill: var(--S2);
  background-color: var(--S1);
  transition-duration: 0.4s;
  width: 100%;
}
.menu-button svg{
  fill: var(--S2);
  transition-duration: 0.4s;

}

.menu-button:hover {
  background-color: var(--S3); /* Green */
  fill: #555;
}
.menu-button:hover svg{
  fill: #555;
}


.content{
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background-color: #fcfcfc;
  color: var(--S1)
}

.block{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--S3);
  height: fit-content;
  box-shadow: 4px 4px 8px 4px var(--S1);
}


.block-sensor{
}


.block-image{
  /*border-radius: 8px;*/
}

.block-title{

  text-decoration: none;
  color: var(--S1);
  font-size: 32px;
  font-weight: bold;
  
}

.block-title a{

  text-decoration: none;
  color: var(--S1);font-size: 32px;
  font-weight: bold;
  
}



