{% extends 'base.html' %}

{% block title %}Sensor list{% endblock %}

{% block content %}
<div class="content">

        {% for sensor in sensors %}
            <div class="block block-sensor">
                <div class="block-title">
                    <h2>{{ sensor.location }}</h2>
                    <p>{{ sensor.description}}</p>
                </div>
                <div class="block-content block-image">
                    <img class="block-image" src="data:image/png;base64,{{sensor.image}}">

                </div>
                

            </div>
            {% endfor %}
</div>
{% endblock %}