{% extends 'base.html' %}

{% block title %}Sensor{% endblock %}

{% block content %}
{% component_js_dependencies %}
{% component_css_dependencies %}
<div class="content">

            <div class="block block-sensor">
                <div class="block-title">
                    {{ sensor.name }}
                </div>
                <div class="block-content">{{ sensor.description}}</div>
                <div class="block-content-">ID: {{sensor.pk}}</div>
                <div class="block-content block-image">
                    {% component "graph" sensor=sensor %}
                    
                </div>
            </div>
</div>
{% endblock %}