{% extends 'base.html' %}

{% block title %}Sensor{% endblock %}

{% block content %}
<div class="content">

            <div class="block block-sensor">
                <div class="block-title">
                    {{ sensor.location }}
                </div>
                <div class="block-content">{{ sensor.description}}</div>
                <div class="block-content-">ID: {{sensor.pk}}</div>
                <div class="block-content block-image">
                    <img class="block-image" src="data:image/png;base64,{{sensor.image}}">
                </div>
            </div>
</div>
{% endblock %}